@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
  background-color: #121417;
  font-family: 'Nunito', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 18.75rem;
  padding: 0;
}

.wrapper {
  background-color: #1C2430;
  border-radius: 25px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 20rem;
  padding: 1.563rem;
  width: 21.875rem;
}

.wrapper__thank__container {
  display: none;
  left: 38%;
  position: absolute;
  top: 22%;
}

.wrapper__thank {
  align-items: center;
  background-color: #1C2430;
  border-radius: 25px;
  box-sizing: border-box; 
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
  height: 20rem;
  justify-content: center;
  position: absolute;
  padding: 0.5rem;
  width: 21.875rem;
}

.wrapper__thank__figure__img {
  height: auto;
  width: 7rem;
}

.wrapper__thank__text {
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #353B41;
  color: #FB7413;
  font-size: 13px;
  padding: 10px;
}

.wrapper__thank__header {
  color: #FEFEFE;
  font-size: 1.5rem;
  font-weight: 700;
}

.wrapper__thank__paragraph {
  color: #959EAC;
  text-align: center;
}

.container__figure__img {
  background-color: #353B41;
  border: 1px solid transparent;
  border-radius: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem;
}

.container__header {
  color: #FEFEFE;
  font-weight: 700;
  font-size: 1.2rem;
}

.container__text {
  color: #959EAC;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.container__list {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.container__list__item {
  background-color: #353B41;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #959EAC;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 400;
  height: 1rem;
  padding: 0.8rem;
  text-align: center;
  width: 1rem;
}

.container__list__item:hover {
  background-color: #FB7413;
  color: #FEFEFE;
  cursor: pointer;
  transition: 0.5s;
}

.container__list__item__inside {
  vertical-align: middle;
}

.container__btn {
  background-color: #353B41;
  border-radius: 25px;
  border-style: none;
  color: #FEFEFE;
  cursor: pointer;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.selected {
  background-color: #FB7413;
  color: #FEFEFE;
  transition: 0.5s;
}

.footer { color: #FFF; font-size: 11px; text-align: center; }
.footer a { color: hsl(228, 45%, 44%); }

.fadeInDiv {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.spin {
  animation: spin 2s linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}


@media screen and (max-device-width: 375px) {
  .wrapper__thank__container {
    display: none;
    left: 3.5%;
    position: absolute;
    top: 22%;
  }
}
